@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model.Customers)
            {
                <tr>
                    <th>@customer.Id</th>
                    <th>@customer.Name</th>
                    <th></th>
                </tr>
            }

        </tbody>
    </table>
</form>
