@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model.Customers)
            {
                <tr>
                    <th>@customer.Id</th>
                    <th>@customer.Name</th>
                    <th>
                        <a asp-page="./Edit" asp-route-id="@customer.Id">edit</a>
                        <button type="submit" asp-page-handler="delete" asp-route-id="@customer.Id">delete</button>
                    </th>
                </tr>
            }
        </tbody>
    </table>
    <a asp-page="./Create">create</a>
</form>
